nav {
  /* max-height: 60px; */
  background: linear-gradient(to right, rgba(45, 35, 35, 0.8) 0%, rgba(18, 3, 3, 0.67) 100%) !important;

}

.ov-nav-section {
  align-content: center;
  height: 60px;
  overflow: hidden;
}

.ov-color-white {
  color: white !important;
}

.ov-color-black {
  color: black !important;
}

.ov-nav-link:hover {
  background: rgb(45, 97, 194);
  height: 60px;
}
