nav {
  max-height: 60px;
  background: linear-gradient(to right, rgba(21, 2, 2, 0.8) 0%, rgba(18, 3, 3, 0.67) 100%) !important;
}

.uk-navbar-left {
  align-content: center;
}

.ov-color-white {
  color: white !important;
}

.ov-color-black {
  color: black !important;
}
