* {
    font-family: 'Open Sans', sans-serif !important;
}

nav {
  height: 60px;
}

.full-container {
  min-height: 100vh;
  /* background: linear-gradient(to right, rgb(54, 20, 166) 0%, rgb(33, 162, 233) 100%); */
  background: linear-gradient(to right, rgb(232, 246, 244) 0%, rgb(237, 247, 252) 100%);
}
